@import 'variables';

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'CMWN';
    src: url($media-server + 'Font%20Libraries/CMWN_Jade.eot'); /* IE9 Compat Modes */
    src: url($media-server + 'Font%20Libraries/CMWN_Jade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($media-server + 'Font%20Libraries/CMWN_Jade.woff') format('woff'), /* Modern Browsers */
    url($media-server + 'Font%20Libraries/CMWN_Jade.ttf') format('truetype'), /* Safari, Android, iOS */
    url($media-server + 'Font%20Libraries/CMWN_Jade.svg#4012903f3d164196860fdbc893b3e032') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

html,
body,
body > div,
body > div > div {
    margin: 0;
    cursor: default;
    padding: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;

    [class^=background-] {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s;
        opacity: 0;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    @for $i from 1 through 5 {
        .background-#{$i} {
            background-image: url($image + 'BKG_#{$i}.jpg');
        }
    }

    &.SCREEN-0,
    &.SCREEN-1 {
        .background-1 {
            opacity: 1;
        }
    }

    &.SCREEN-2,
    .SCREEN-3 {
        .background-2 {
            opacity: 1;
        }
    }

    &.SCREEN-4,
    &.SCREEN-5 {
        .background-3 {
            opacity: 1;
        }
    }

    &.SCREEN-6,
    &.SCREEN-7,
    &.SCREEN-8 {
        .background-4 {
            opacity: 1;
        }
    }

    @for $i from 9 through 19 {
        &.SCREEN-#{$i} {
            .background-5 {
                opacity: 1;
            }
        }
    }
}

html {
    color: $text-color;
    font-family: 'CMWN', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
}

body > div > div {
    position: relative;
    margin: auto;
    width: 960px;
    height: 540px;
    font-size: 20px;
}

// for pre-loading assets
#asset-bin {
    display: none;
}

img.hidden {
    display: none;
}

button {
    margin: 0;
    outline: none;
    border: 0;

    background-color: transparent;
    background-image: url($sprite + 'BU_1.png');
    background-position: left top;
    background-size: auto 300px;

    cursor: pointer;
    padding: 0;
    color: transparent;
    font-family: inherit;
    font-size: inherit;

    &.close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin: 5px;
        background-position: -456px -50px;
        width: 30px;
        height: 30px;

        &:hover {
            background-position: -456px -210px;
        }
    }

    &.next-screen,
    &.prev-screen {
        width: 80px;
        height: 110px;
    }

    &.next-screen {
        background-position: -329px -11px;

        &:hover {
            background-position: -329px -171px;
        }
    }

    &.prev-screen {
        background-position: -204px -11px;

        &:hover {
            background-position: -204px -171px;
        }
    }

    &.quit-yes {
        background-position: 330px 280px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 330px 120px;
        }
    }

    &.quit-no {
        background-position: 170px 280px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 170px 120px;
        }
    }

    &.reveal-close {
        background-position: -503px 463px;
        width: 40px;
        height: 40px;

        &:hover {
            background-position: -503px 333px;
        }
    }
}

h2 {
    font-size: 50px;
}

h3 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 0;
    font-size: 36px;
}

.canvas-src {
    display: none;
}

.screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform .5s;
    opacity: 0;
}

.screen.OPEN {
    transform: translateX(0);
    opacity: 1;
}

.screen.READY {
    display: block;
}

.screen.LEAVE {
    transform: translateX(-100%);
    opacity: 1;
}

.screen .next-screen,
.screen .prev-screen {
    display: block;
    position: absolute;
    bottom: 1%;
    z-index: 2;
}

.screen .next-screen {
    right: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
    opacity: 0;
    margin-right: 5px;
    pointer-events: none;
}

.screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.pl-game.DEMO .screen .next-screen,
.screen.COMPLETE .next-screen,
.screen.REPLAY .next-screen {
    transform: rotate(0deg);
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

.screen .prev-screen {
    left: 0;
    margin-left: 5px;
}

.screen {
    &.no-frame {
        color: $white;

        .frame {
            text-align: center;
        }
    }
}

// the following css is specific to this game

.frame {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 1.2;
    font-size: 40px;
}

img.inline {
    height: 56px;
    vertical-align: middle;
}

.screen.large-frame {
    .frame {
        margin: 10px auto;
        background-image: url($image + 'FR_1.png');
        padding: 60px;
        width: 860px;
        height: 520px;

        p:only-child {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    &.OPEN {
        .frame {
            animation-name: fadeInDown;
        }
    }
}

.screen.small-frame {
    .frame {
        margin: 10px 300px;
        background-image: url($image + 'FR_2.png');
        padding: 140px 60px;
        width: 600px;
        height: 400px;

        p:only-child {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    &.OPEN {
        .frame {
            animation-name: fadeInDown;
        }
    }
}

.screen.bottom-frame {
    .frame {
        position: relative;
        margin: -50px auto 0;
        background-image: url($image + 'FR_3.png');
        background-size: 100% 100%;
        width: 640px;
        height: 400px;

        p:only-child {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }

        img {
            position: absolute;
            top: 18px;
            left: 310px;
            transform: translateX(-50%);
            height: 95px;
        }
    }

    &.OPEN {
        .frame {
            animation-name: fadeInDown;
        }
    }
}

.skoash-game.MENU-quit .screen:not(#quit) {
    opacity: 0;
    pointer-events: none;
}

.reveal {
    ul {
        position: relative;
        padding: 0;

        li {
            transition: opacity .5s;
            opacity: 0;
            list-style: none;

            &.OPEN {
                opacity: 1;
            }
        }
    }
}

.selectable {
    display: flex;
    padding: 0;
    list-style: none;
}

#title {
    text-align: center;

    button {
        &.prev-screen {
            display: none;
        }

        &.next-screen {
            right: 10px;
            bottom: 10px;
            background-position: -15px -39px;
            width: 140px;
            height: 78px;

            &:hover {
                background-position: -15px -198px;
            }
        }
    }

    .title {
        display: inline-block;
        position: relative;
        z-index: -1;
        margin: 0 auto;
        width: 880px;
    }

    .falcon {
        position: absolute;
        top: -435px;
        left: -476px;
        transform: scale(.7);
        transition: transform 5s;
    }

    .tumbleweed {
        position: absolute;
        top: 385px;
        left: 242px;
        transform: scale(2, 1.6);
    }

    &.OPEN {
        .title {
            animation-name: flip;
        }
    }

    &.COMPLETE {
        .falcon {
            transform: translateX(300px) translateY(200px) scale(.7);
        }
    }
}

#think {
    .inline {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 0 -75 * 15 - 5 + px;
        background-size: 650px;
        width: 330px;
        height: 80px;
        vertical-align: middle;
    }

    .drought-word {
        background-image: url($sprite + 'img_2.1.png');
    }

    .selectable {
        display: block;
        margin: 10px 0 0;
        height: auto;

        li {
            display: inline-block;
            margin: 5px 40px 5px 0;
            background-image: url($sprite + 'img_2.1.png');
            background-repeat: no-repeat;
            background-size: 650px;
            cursor: pointer;
            height: 42px;

            &.HIGHLIGHTED {
                cursor: default;
                pointer-events: none;
            }

            // scss-lint:disable ColorVariable ColorKeyword
            $words: dry green parched monsoon damp dusty hot no-water thirsty wet tropical arid steamy balmy swampy;
            // scss-lint:enable ColorVariable ColorKeyword
            $width: 74 120 160 174 114 119 74 180 145 84 162 88 150 128 165;
            $background-top: 10 11 12 0 1 2 3 4 5 6 7 8 9 13 14;

            @for $i from 1 through 15 {
                &.#{nth($words, $i)} {
                    background-position: 0 -75 * nth($background-top, $i) - 5 + px;
                    width: nth($width, $i) + px;

                    &.HIGHLIGHTED,
                    &:hover {
                        background-position: -325px -75 * nth($background-top, $i) - 5 + px;
                    }
                }
            }
        }
    }

    .VOICE-OVER & {
        li {
            cursor: default;
            pointer-events: none;
        }
    }
}

#info-no-water {
    .frame {
        padding-top: 160px;

        p {
            line-height: 1.4;
            font-size: 40px;
        }

        img {
            position: absolute;
            top: 0;
            left: 40px;
            transform: scale(1.5) translateX(200%) translateY(200%);
            transition: transform 0s 1s;
            width: 780px;
        }
    }

    &.READY.OPEN {
        .frame {
            img.TRANSLATE {
                transform: scale(1) translateX(0%) translateY(0%);
                transition: transform .5s;
            }
        }
    }
}

#humans-animals {
    .frame {
        padding-top: 120px;
    }

    .tumbleweed {
        position: absolute;
        top: 385px;
        left: 242px;
        transform: scale(2, 1.6);
    }
}

#info-use-water {
    .frame {
        padding: 200px 60px 60px 360px;

        img {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 340px;
        }
    }
}

@keyframes floatUp {
    0% {
        top: 560px;
        opacity: 0;
    }

    1% {
        top: 560px;
        opacity: 1;
    }

    100% {
        top: -220px;
        opacity: 1;
    }
}

#balloons {
    img {
        display: block;
        position: relative;
        z-index: 1;
        margin: 10px auto;
        cursor: pointer;
        width: 640px;
        pointer-events: none;
    }

    .selectable-canvas-move {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 960px;
        height: 540px;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .VOICE-OVER & {
        canvas {
            cursor: default;
            pointer-events: none;
        }
    }
}

#great-job {
    .frame {
        padding: 120px 360px 60px 60px;

        img {
            &:nth-of-type(1) {
                display: block;
                margin: 0 auto 40px;
                width: 320px;
            }

            &:nth-of-type(2) {
                position: absolute;
                top: 40px;
                right: 40px;
                width: 340px;
            }
        }
    }
}

#drought-effects {
    .frame {
        padding: 190px 250px 60px 60px;

        .cactus {
            position: absolute;
            right: 50px;
            bottom: 50px;
            width: 340px;
        }

        .falcon {
            position: absolute;
            top: 30px;
            left: -40px;
            width: 400px;
        }
    }
}

#environment-effects {
    .VOICE-OVER & {
        li {
            pointer-events: none;
        }
    }

    .selectable {
        li {
            background-image: url($sprite + 'sprites.scrolls.png');
            background-size: 250%;
            background-position-x: 0;
            @for $i from 0 through 5 {
                &:nth-child(#{$i + 1}) {
                    background-position-y: #{$i * -154}px;
                }
            }

            &:hover,
            &.HIGHLIGHTED {
                background-position-x: -206px;
            }
        }
    }
}

.scroll-selectable {
    margin: 0;
    height: 140px;
    justify-content: center;

    li {
        margin: 0 5px;
        background-position: left top;
        background-size: auto 100%;
        width: 150px;
        pointer-events: none;

        &:nth-of-type(1),
        &.HIGHLIGHTED + li {
            cursor: pointer;
            pointer-events: auto;
        }

        &.HIGHLIGHTED,
        &:nth-of-type(1):hover,
        &.HIGHLIGHTED + li:hover {
            background-position: right top;
        }
    }
}

.scroll-reveal {
    ul {
        position: relative;
        padding: 0;
    }

    li {
        position: absolute;
        top: 250px;
        transform: translateY(-50%);
        width: 100%;
    }
}

#info-human-effects {
    .frame {
        padding: 180px 60px 60px 360px;

        img {
            position: absolute;
            bottom: 50px;
            left: 50px;
            width: 340px;
        }
    }
}

#what-can-we-do {
    img {
        display: block;
        margin: 40px auto 30px;
        width: 800px;
    }

    ul {
        height: auto;

        li {
            display: block;
            margin: 0 auto;
            width: 620px;
            height: 380px;

            .side {
                background-image: url($sprite + 'img_11.2.png');
                background-position: left top;
                background-size: auto 100%;

                &.b {
                    background-position: right top;
                }
            }
        }
    }

    .VOICE-OVER & {
        li {
            pointer-events: none;
        }
    }
}

#info-drain {
    img {
        position: absolute;
        bottom: 10px;
        left: 140px;
        width: 680px;
        height: auto;
    }

    p {
        position: absolute;
        bottom: 240px;
        left: 510px;
        transform: rotate(0deg) scale(1);
        transition: transform 0s 1s, opacity 0s 1s;
        opacity: 1;
        text-align: center;
        line-height: 1.1;
        font-size: 26px;
    }

    &.OPEN {
        p.draining {
            transform: rotate(1800deg) scale(.3);
            transition: transform 6s, opacity 6s;
            opacity: 0;
        }
    }
}

#info-using-less {
    img {
        position: absolute;
        bottom: 28px;
        left: 200px;
        width: 580px;
        height: auto;
    }

    p {
        position: absolute;
        bottom: 320px;
        left: 420px;
        transform: rotate(-5deg);
        text-align: center;
        line-height: 1.1;
        font-size: 56px;
    }
}

#shower {
    .title {
        display: block;
        margin: 15px auto;
        width: 620px;
    }

    p {
        text-align: center;
        font-size: 28px;
    }

    ul {
        margin: 0;
        height: auto;
        justify-content: center;

        li {
            display: block;
            margin: 0;
            cursor: default;
            width: 220px;
            height: 320px;
            pointer-events: none;

            .side {
                background-size: 718px;
                background-position-x: -22px;

                &.b {
                    background-position-x: -489px;
                }
            }

            &:nth-of-type(1),
            &.HIGHLIGHTED + li {
                cursor: pointer;
                pointer-events: auto;

                .side.a:hover {
                    background-position-x: -256px;
                }
            }

            &.HIGHLIGHTED {
                // scss-lint:disable ImportantRule
                cursor: default !important;
                pointer-events: none !important;
            }


            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    div {
                        background-image: url($sprite + 'sprites.cards.png');
                    }
                }
            }
        }

        $card-text:  day week year;
        $card-pos-y: -24 -384 -736;

        @for $i from 1 through 3 {
            [data-ref=#{nth($card-text, $i)}] div {
                background-position-y: #{nth($card-pos-y, $i)}px;
            }
        }
    }

    .VOICE-OVER & {
        li {
            // scss-lint:disable ImportantRule
            cursor: default !important;
            pointer-events: none !important;
        }
    }
}

#conserve {
    .frame {
        position: absolute;
        bottom: 40px;
        left: 280px;
        background-image: url($image + 'FR_4.png');
        width: 400px;
        height: 240px;

        ul {
            position: static;
            margin: 0;

            li {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                padding: 20px;
                width: 100%;
                line-height: 1.1;

                p {
                    font-size: 30px;
                }
            }
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 64px;
        height: 530px;
    }

    #meter-sprite {
        position: absolute;
        top: 40px;
        right: 57px;

        div {
            position: absolute;
            top: 0;
            right: 0;
            transition: opacity .5s;
            opacity: 0;
            background-image: url($sprite + 'img_15.3.png');
            background-repeat: no-repeat;
            background-size: 1040px;
            width: 73px;
            height: 397px;
            background-position-y: -12px;

            @for $i from 0 through 8 {
                &:nth-of-type(#{$i + 1}) {
                    background-position-x: #{-16 - ($i * 104)}px;
                }
            }

            &.visible,
            &:nth-of-type(1) {
                opacity: 1;
            }
        }
    }

    #door-sprite {
        position: absolute;
        bottom: -217px;
        left: 67px;
        animation: swing-closed .75s steps(5) forwards;
        z-index: 1;
        background-image: url($sprite + 'img_sp_15.1.png');
        background-repeat: no-repeat;
        background-size: 800% 100%;
        width: 824px;
        height: 809px;

        &.open {
            animation: swing-open .5s steps(5) forwards;
        }
    }

    #door {
        position: absolute;
        bottom: -8px;
        left: 278px;
        transition: opacity 0s 1s;
        opacity: 1;
        z-index: 1;
        background-image: url($sprite + 'img_15.2.png');
        background-position: -50px center;
        background-size: auto 120%;
        cursor: pointer;
        width: 405px;
        height: 378px;

        &:hover {
            background-position: -516px center;
        }

        &.open {
            transition: opacity 0s;
            opacity: 0;
        }
    }

    .VOICE-OVER & {
        li {
            pointer-events: none;
        }
    }
}

#hero {
    .frame {
        img:not(.inline) {
            display: block;
            margin: 20px auto 40px;
            height: 130px;
        }
    }
}

#flip {
    .frame {

        h3 {
            font-size: 42px;
        }

        p {
            line-height: 1.3;
            font-size: 36px;
        }

        img {
            display: block;
            margin: 20px auto 0;
            height: 130px;
        }
    }

    &.OPEN {
        img.shaking {
            animation-name: shake;
            animation-delay: 0s;
            animation-iteration-count: 3;
        }
    }
}

#quit {

    .frame {
        background-image: url($image + 'FR_1.png');
        padding: 100px 80px;
        width: 740px;
        height: 540px;
        text-align: center;
        color: $black;
        box-sizing: border-box;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        h2 {
            margin: 0;
        }

        h3 {
            margin: 20px 0 10px;
        }

        button {
            margin: 20px 10px;
        }
    }
}

@keyframes swing-open {
    0% {
        background-position: 14% center;
    }

    100% {
        background-position: 85.46% center;
    }
}

@keyframes swing-closed {
    0% {
        background-position: 85.46% center;
    }

    100% {
        background-position: 14% center;
    }
}
