.selectable-canvas-move {

    &,
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 960px;
        height: 540px;
    }

    .hidden {
        display: none;
    }
}
