$grey: #eee;

.selectable-component.flip-card,
.flip-card-component {

    ul {
        text-align: center;

        li {
            display: inline-block;
            position: relative;
            margin: 0 5px;
            cursor: pointer;
            width: 150px;
            height: 250px;
            vertical-align: top;
            perspective: 500px;

            &.HIGHLIGHTED {
                cursor: default;
                pointer-events: none;
            }

        }


        .side {
            position: absolute;
            top: 0;
            left: 0;
            transition: transform .5s;
            border-radius: 8px;
            width: inherit;
            max-height: 100%;
            overflow: hidden;
            color: $grey;
            backface-visibility: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    /* Left to Right (Default) */
    &.lr ul li .side.b,
    ul li.lr .side.b {
        transform: rotateY(180deg);
    }

    &.lr ul li.HIGHLIGHTED .side.a,
    ul li.lr.HIGHLIGHTED .side.a {
        transform: rotateY(180deg);
    }

    ul li.HIGHLIGHTED .side.b,
    &.lr ul li.HIGHLIGHTED .side.b,
    ul li.lr.HIGHLIGHTED .side.b {
        transform: rotateY(0deg);
    }

    /* Right to Left */

    &.rl ul li .side.b,
    ul li.rl .side.b {
        transform: rotateY(180deg);
    }

    &.rl ul li.HIGHLIGHTED .side.a,
    ul li.rl:hover .side.a {
        transform: rotateY(-180deg);
    }

    &.rl > ul li:hover .side.b,
    ul li.rl:hover .side.b {
        transform: rotateY(0deg);
    }

    /* Top to Bottom */

    &.tb ul li .side.b,
    ul li.tb .side.b {
        transform: rotateY(0deg);
        transform: rotateX(180deg);
    }

    &.tb ul li.HIGHLIGHTED .side.a,
    ul li.tb:hover .side.a {
        transform: rotateY(0deg);
        transform: rotateX(-180deg);
    }

    &.tb ul li.HIGHLIGHTED .side.b,
    ul li.tb:hover .side.b {
        transform: rotateY(0deg);
        transform: rotateX(0deg);
    }

    /* Bottom to Top */

    &.bt ul li .side.b,
    ul li.bt .side.b {
        transform: rotateY(0deg);
        transform: rotateX(-180deg);
    }

    &.bt ul.show-all li .side.a,
    &.bt ul li.HIGHLIGHTED .side.a {
        transform: rotateY(0deg);
        transform: rotateX(180deg);
    }

    &.bt ul.show-all li .side.b,
    &.bt ul li.HIGHLIGHTED .side.b {
        transform: rotateY(0deg);
        transform: rotateX(0deg);
    }
}
